
.bs4sd-code, .bs4sd-code code {
    background-color: #eee;
    color: #111;
}

.bs4-god {
  font-weight: bolder;
  color: rgb(151, 69, 69);  
}

.bs4-cmnt {
  font-weight: bold;
  color: rgb(30, 138, 30);
}

.bs4-type {
  font-weight: bold;
  color: rgb(88, 30, 138);
}

.bs4-triv {
  color: rgb(140, 140, 140);
}

.bs4-oper {
  font-weight: bold;
}

.bs4-meth {
  font-weight: bold;
}

.bs4-var {
  color: rgb(63, 63, 63);
}

.bs4-prop {
  color: rgb(11, 15, 248);
}

.bs4-keyw {
  font-weight: bold;
  color: rgb(21, 31, 175);
}

.bs4-str {
  color: rgb(177, 19, 164);
}

.bs4-numb {
  font-weight: bold;
}

.bs4-you {
  font-weight: bold;
  color:rgb(18, 103, 56)
}
