<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<!-- <script type="text/javascript" id="cookiebanner" src="/js/cookiebanner.min.js"
data-moreinfo="/cookies" data-bg="#666" data-fg="#FFF" data-link="#aebbe6" data-height="24px"
 data-close-text="hide this" data-message="We use cookies to improve your browsing experience.">
</script> -->
  </body>

</html>
